/*
=============== 
Variables
===============
*/
:root {
  --color-primary-1: #605350;
  --color-primary-2: #a08b86;
  --color-primary-3: #95827d;
  --color-primary-dark: #2b2524;
  --color-primary-light: #eee3e0;
  --color-secondary-1: #ff9770;
  --color-secondary-2: #f19c79;
  --color-secondary-3: #ffe4c4;
  --color-white: #ffffff;
  --border-radius: 8px;
  --transition: all 0.3s ease-in-out;
  --letter-spacing: 0.2rem;
  /* Light mode  */
  --dark-mode-color: #1d1918;
  --dark-mode-seconday-color: #302a28;
  --bg-color: var(--color-primary-1);
  --nav-color: var(--color-primary-1);
  --span-color: var(--color-primary-dark);
  --bg-projects: var(--color-primary-2);
  --contact-info-bg: var(--color-primary-dark);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--dark-mode-color);
    --nav-color: var(--dark-mode-color);
    --span-color: var(--color-secondary-1);
    --bg-projects: var(--dark-mode-seconday-color);
    --contact-info-bg: var(--dark-mode-seconday-color);
  }
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
}

/* Animation */

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/*
===========
Navbar
===========
*/
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-wrap: wrap;
  height: 5rem;
  margin: 0;
  padding-left: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  z-index: 1;
}
.logo {
  font-size: 1rem;
  letter-spacing: var(--letter-spacing);
  color: var(--color-primary-light);
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: var(--color-primary-light);
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing);
  font-weight: 100;
  padding-right: 3rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.nav-links a:hover {
  color: var(--color-secondary-1);
  cursor: pointer;
}

.navigation span {
  color: var(--span-color);
}

/*
===========
Media Query -- navigation
===========
*/
@media screen and (max-width: 756px) {
  .navigation {
    flex-direction: column;
    position: relative;
    height: 50vh;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .logo {
    padding: 50px 0;
    margin-left: 5px;
  }
  .nav-links {
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .nav-links a {
    padding-left: 10px;
  }
  .nav-links a:hover {
    margin-left: 1.2rem;
  }
}
@media screen and (min-width: 756px) and (max-width: 1170px) {
  .navigation {
    position: relative;
    display: block;
  }
  .logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/*
===========
  Home-page
===========
*/

hr {
  height: 0.5px;
  background-color: var(--color-primary-light);
  border: none;
  margin: 0 1rem;
}

.container-center {
  display: flex;
  margin: auto;
  width: 80%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  position: relative;
}

.arrow {
  font-size: 3rem;
  color: var(--color-secondary-1);
  position: absolute;
  left: 50%;
  bottom: 10%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  animation: bounce 3s ease-in-out infinite;
}
.arrow:hover {
  color: var(--color-primary-light);
  cursor: pointer;
}
.container-image {
  width: 35%;
}
.container-image img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 3rem;
}
.container-info {
  text-align: start;
  padding: 1rem;
  color: var(--color-white);
  width: 50%;
  height: 450px;
  padding-left: 3rem;
  border-left: 2px solid var(--color-primary-light);
}
.container-info ul {
  margin-top: 3rem;
  padding-left: 0;
}
.container-info ul a {
  padding-left: 0;
  padding-right: 2rem;
  font-size: 2rem;
  color: var(--color-primary-light);
}
.container-info ul a:hover {
  color: var(--color-secondary-1);
}
.btn {
  background-color: var(--color-secondary-1);
  border-radius: var(--border-radius);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}
.container-info a {
  color: var(--color-primary-dark);
  text-decoration: none;
}
.btn:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-1);
  cursor: pointer;
}

.container-info h2 {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 5px 0;
  letter-spacing: var(--letter-spacing);
  margin-top: 1rem;
  margin-bottom: 3rem;
  animation: slideFromLeft 3s ease-in-out 1;
}
.container-info h3 {
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--color-secondary-1);
  animation: slideFromLeft 3s ease-in-out 1;
}
.container-info p {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 4rem;
  animation: slideFromRight 3s ease-in-out 1;
}

/*
===========
Media Query -- Home Page
===========
*/

@media screen and (max-width: 756px) {
  .container-center {
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    margin-bottom: 5rem;
    justify-content: space-evenly;
  }
  .container-image {
    display: none;
  }
  .container-info {
    width: 100%;
    margin-bottom: 2rem;
    border-left: none;
  }
  .container-info h2 {
    margin-top: 0;
  }
  .nav-links li {
    padding-top: 1rem;
  }
  .nav-links a {
    font-size: 1.5rem;
  }
  .arrow {
    display: none;
  }
  .home-page {
    background-image: none;
  }
}

@media screen and (min-width: 756px) and (max-width: 1170px) {
  .container-image {
    margin-bottom: 3rem;
  }
  .container-center {
    margin-left: 0;
    gap: 1rem;
    height: 90vh;
    width: 100vw;
  }
  .container-info {
    width: 70vh;
    border-left: none;
  }
  .arrow {
    bottom: 5%;
  }
}

/*
===========
Projects
===========
*/
.projects {
  padding: 5rem 2rem;
  height: 100%;
  background-color: var(--bg-projects);
}
.projects-container {
  display: grid;
  width: 80vw;
  margin: 2rem auto;
  place-items: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  grid-template-areas:
    "a b b"
    "a d e"
    "c c e ";
}
.project-1 {
  grid-area: a;
  rotate: 30deg;
  background-color: var(--color-primary-3);
}
.project-1:hover {
  transform: rotate(15deg);
}
.project-2 {
  grid-area: b;
  rotate: -10deg;
  background-color: var(--color-secondary-2);
}
.project-2:hover {
  transform: rotate(15deg);
}
.project-3 {
  grid-area: c;
  background-color: var(--color-secondary-3);
}
.project-3:hover {
  transform: rotate(15deg);
}
.project-4 {
  grid-area: d;
}
.project-5 {
  grid-area: e;
  rotate: 5deg;
  background-color: var(--color-primary-1);
}
.project-5:hover {
  transform: rotate(15deg);
}
.project-img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  text-align: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.project-img h4 {
  font-size: 1.5rem;
}
.project-img a {
  text-decoration: none;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color: var(--color-primary-dark);
  opacity: 0;
  cursor: pointer;
}
.project-img:hover img {
  opacity: 0.2;
}

.project-img:hover .search-icon {
  opacity: 1;
}

.no-image h2 {
  margin-top: 4rem;
  font-size: 3rem;
  letter-spacing: 1rem;
  font-weight: 100;
  color: var(--color-primary-light);
}
.no-image:hover {
  opacity: 1;
}
/*
===========
  Media Query -- Projects
===========
*/

@media screen and (max-width: 756px) {
  .projects-container {
    display: block;
    max-width: 95%;
    height: 100%;
  }

  .project-img {
    height: 450px;
    margin: 1rem auto;
  }
  .no-image {
    display: none;
  }
}
@media screen and (min-width: 756px) and (max-width: 1170px) {
  .projects-container {
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 1rem;
    grid-template-areas:
      "a b c"
      "a e e";
  }
  .project-1 {
    grid-area: a;
    rotate: 10deg;
  }
  .project-1:hover {
    transform: scale(1.05);
  }
  .project-2 {
    grid-area: b;
    rotate: 20deg;
  }
  .project-2:hover {
    transform: scale(1.05);
  }
  .project-3 {
    grid-area: c;
    rotate: 0deg;
  }
  .project-3:hover {
    transform: scale(1.05);
  }
  .project-5 {
    grid-area: e;
    rotate: 0deg;
  }
  .project-5:hover {
    transform: scale(1.05);
  }
  .no-image {
    display: none;
  }
}
/*
===========
Footer
===========
*/

.footer {
  height: 10rem;
  text-align: center;
}
.footer p {
  color: var(--color-primary-light);
  font-weight: 100;
  font-size: 1.2rem;
}

/* media icons */
.media-icons {
  padding: 2rem;
  font-size: 2rem;
  list-style: none;
}
.media-icons a {
  color: var(--color-primary-light);
  padding: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  cursor: pointer;
}
.media-icons a:hover {
  color: var(--color-secondary-1);
}
/*
===========
About
===========
*/
.about-container {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  height: 50vh;
  border-radius: var(--border-radius);
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(115deg, #2b2524, #a08b86, #eee3e0); */
  background: linear-gradient(
    115deg,
    var(--color-primary-dark),
    var(--color-primary-light),
    var(--color-primary-2)
  );
}
.about-center {
  height: calc(100vh - 10rem);
  text-align: center;
  padding-top: 5rem;
  display: grid;
  place-items: center;
  position: relative;
}
.about-photo {
  background-image: url(/images/catalina1.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color-primary-dark);
  width: 30%;
  height: 100%;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.about-block {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  padding-top: 1rem;
  height: 100%;
}
.letter {
  padding: 1rem;
}

.about-info {
  padding-left: 2rem;
  width: 100%;
  text-align: left;
  color: var(--color-primary-dark);
  line-height: 2rem;
  font-size: 1.2rem;
  overflow: auto;
}

/* Travel - photos */
.memory {
  width: 350px;
  border-radius: var(--border-radius);
  position: absolute;
}
.photo1 {
  bottom: 20%;
  right: 2%;
  transform: rotate(10deg);
  z-index: 1;
}
/* .photo2 {
  top: 15%;
  left: 5%;
  transform: rotate(25deg);
  z-index: -1;
} */
.photo3 {
  top: 15%;
  right: 10%;
  transform: rotate(20deg);
  z-index: -1;
}
/* .photo5 {
  bottom: 15%;
  left: 2%;
  transform: rotate(-20deg);
  z-index: -1;
} */

/*
===========
  Media Query -- About
===========
  */
@media screen and (max-width: 756px) {
  .about-center {
    height: 100%;
    padding-bottom: 3rem;
  }
  .about-container {
    display: block;
    width: 90%;
    height: auto;
  }
  .about-info {
    padding: 2rem;
    height: 400px;
  }
  .about-center h2 {
    margin-bottom: 2rem;
  }
  .about-photo {
    width: 50%;
    height: 50vh;
    border-bottom-left-radius: 0;
  }
  .about-block {
    width: 45%;
    height: 50vh;
    position: absolute;
    top: 8%;
    left: 50%;
    border-top-right-radius: var(--border-radius);
  }
  .memory {
    display: none;
  }
}
@media screen and (min-width: 756px) and (max-width: 1170px) {
  .about-container {
    width: 90%;
  }
  .about-center {
    height: calc(100vh - 15rem);
    padding-top: 0;
  }
  .memory {
    display: none;
  }
}
/*
===========
Portofolio
===========
*/
.projects-center {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem;
  margin: 2rem auto;
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.project-card {
  height: 30rem;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-2);
  text-align: center;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.project-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.project-card h3 {
  margin-top: 2rem;
}
.project-card p {
  margin: 2rem 1rem;
}
.project-card a {
  font-size: 2rem;
  color: var(--color-primary-light);
  /* browser prefix - allows properties to be set specific for each individual browser */
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.project-card a:hover {
  color: var(--color-secondary-1);
  cursor: pointer;
}
.project-img-container {
  height: 15rem;
}
.project-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
/*
===========
  Media Query -- Portofolio
===========
*/

@media screen and (max-width: 756px) {
  .projects-center {
    margin: 15px;
  }
  .project-card {
    margin: auto;
  }
}
/*
===========
Contact
===========
*/
.section-center {
  height: calc(100vh - 12rem);
  width: 100vw;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: var(--color-primary-light);
  text-align: center;
  background-image: url(/images/Artboard4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.section-center h2 {
  font-weight: 100;
  color: var(--color-primary-light);
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.contact-info {
  background-color: var(--contact-info-bg);
  text-align: left;
  padding: 2rem 10rem;
  border-radius: 8px;
}
.contact-info p {
  color: var(--contact-info-color);
  font-weight: 100;
  margin: 1rem 0;
}

.contact-form h3 {
  color: #2b2524;
  font-weight: 100;
  margin: 0.5rem;
  font-size: 2rem;
}

.btn-contact {
  border: 2px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-1);
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
}
.btn-contact:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
}
input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: var(--color-primary-dark);
}
.contact-form {
  max-width: 500px;
  background-color: var(--color-secondary-1);
  height: 90%;
  padding: 2rem;
  margin-top: 4rem;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-primary-dark);
  border-radius: var(--border-radius);
  font-size: 1rem;
}

input {
  background-color: transparent;
  color: var(--color-primary-dark);
  border: none;
  border-bottom: 1px solid var(--color-primary-dark);
  border-radius: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: var(--transition);
  transition: all var(--transition);
}

/*
===========
Media Query -- Contact
===========
*/
@media screen and (max-width: 756px) {
  .section-center {
    display: block;
    background-image: none;
    margin: auto;
    height: 100%;
  }
  .contact-info {
    text-align: center;
    padding: 4rem;
    margin: 2rem;
  }
  .contact-form {
    margin: 5rem auto;
    border-radius: var(--border-radius);
    clip-path: none;
  }
}

@media screen and (min-width: 756px) and (max-width: 1170px) {
  .contact-info {
    padding: 2rem;
    margin: 1rem;
  }
  .section-center {
    width: 90%;
  }
}
